---
    import Layout from '../../layouts/Layout.astro';
    import AlertAddCar from '../../components/AlertAddCar.astro';
---

<Layout title="F1 24 | Game Cave">
    <main>
        <section class="overflow-hidden bg-bg">
            <div class="container px-5 py-12 mx-auto">
                <div class="lg:w-4/5 mx-auto flex flex-wrap">
                    <img alt="F1 24" class="lg:w-[35%] w-full object-cover object-center rounded-md article-thumb-img" src="/articles/f124.jpg">
                    <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0" id="article" data-article-id="2">
                        <h1 class="text-white text-3xl title-font font-medium mb-1 article--name">F1 24</h1>
                        <div class="flex mb-4">
                            <span class="flex items-center">
                                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-primary" viewBox="0 0 24 24">
                                    <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                                </svg>
                                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-primary" viewBox="0 0 24 24">
                                    <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                                </svg>
                                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-primary" viewBox="0 0 24 24">
                                    <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                                </svg>
                                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-primary" viewBox="0 0 24 24">
                                    <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                                </svg>
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-primary" viewBox="0 0 24 24">
                                    <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                                </svg>
                                <span class="text-primary-200 ml-3">143 Reseñas</span>
                            </span>
                        </div>
                        <p class="leading-relaxed text-txt-200">Prepárate para encender tu pasión por las carreras y acércate a la parrilla como nunca antes con EA SPORTS F1 24, el videojuego oficial del 2024 FIA Formula One World Championship. Corónate con la victoria en busca de una carrera profesional en la F1 que defina tu legado y siéntete en armonía con tu coche gracias a la física y el manejo más novedosos de EA SPORTS Dynamic Handling. Corónate con la victoria: Descubre el nuevo modo Carrera profesional como piloto con una nueva jugabilidad basada en el deporte. EA SPORTS Dynamic Handling: Maneja de forma más auténtica. La física más moderna te permite controlar mejor la manera en que tu estilo personal de manejo influye en el rendimiento del coche y la estrategia de carrera.</p>
                        <div class="flex mt-5">
                            <span class="font-medium text-2xl text-txt-200">$1099</span>
                            <button class="flex ml-auto text-white bg-xbox border-0 py-2 px-6 focus:outline-none hover:bg-accent-200 rounded-md duration-500" type="submit" id="add-to-cart">Agregar al carrito</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <AlertAddCar/>
    </main>
</Layout>