---
    import Layout from '../../layouts/Layout.astro';
    import AlertAddCar from '../../components/AlertAddCar.astro';
---

<Layout title="GTA V | Game Cave">
    <main>
        <section class="overflow-hidden bg-bg">
            <div class="container px-5 py-12 mx-auto">
                <div class="lg:w-4/5 mx-auto flex flex-wrap">
                    <img alt="ecommerce" class="lg:w-[35%] w-full object-cover object-center rounded-md article-thumb-img" src="/public/articles/gta5.jpg">
                    <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0" id="article" data-article-id="7">
                        <h1 class="text-white text-3xl title-font font-medium mb-1 article--name">Grand Theft Auto V</h1>
                        <div class="flex mb-4">
                            <span class="flex items-center">
                                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-primary" viewBox="0 0 24 24">
                                    <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                                </svg>
                                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-primary" viewBox="0 0 24 24">
                                    <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                                </svg>
                                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-primary" viewBox="0 0 24 24">
                                    <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                                </svg>
                                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-primary" viewBox="0 0 24 24">
                                    <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                                </svg>
                                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-primary" viewBox="0 0 24 24">
                                    <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                                </svg>
                                <span class="text-primary-200 ml-3">790 Reseñas</span>
                            </span>
                        </div>
                        <p class="leading-relaxed text-txt-200">Disfruta de las historias entrelazadas de Franklin, Michael y Trevor en la soleada metrópolis de Los Santos y en recónditos lugares de las zonas rurales de Blaine County con detalles nunca vistos y un nuevo nivel de gráficos impresionante. Elige uno de los tres nuevos ajustes gráficos para que tu experiencia de juego sea justo la que tú quieres. El modo fidelidad ofrece la más alta calidad visual y hasta 30 fps. En este modo, PlayStation®5 ofrece una resolución nativa 4K y trazado de rayos. El modo rendimiento ofrece la experiencia de juego más interactiva y hasta 60 fps. En este modo, PlayStation®5 ofrece resolución 4K reescalada. Además, tiene modo rendimiento TR, un híbrido de los modos fidelidad y rendimiento que ofrece resolucion 4K reescalada, además de trazado de rayos y hasta 60 fps.</p>
                        <div class="flex mt-5">
                            <span class="font-medium text-2xl text-txt-200">$999</span>
                            <button class="flex ml-auto text-white bg-xbox border-0 py-2 px-6 focus:outline-none hover:bg-accent-200 rounded-md duration-500" type="submit" id="add-to-cart">Agregar al carrito</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <AlertAddCar/>
    </main>
</Layout>