---
    import Layout from '../../layouts/Layout.astro';
    import AlertAddCar from '../../components/AlertAddCar.astro';
---

<Layout title="Silent Hill 2 | Game Cave">
    <main>
        <section class="overflow-hidden bg-bg">
            <div class="container px-5 py-12 mx-auto">
                <div class="lg:w-4/5 mx-auto flex flex-wrap">
                    <img alt="Silent Hill 2" class="lg:w-[35%] w-full object-cover object-center rounded-md article-thumb-img" src="/articles/silenthill2.jpg">
                    <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0" id="article" data-article-id="5">
                        <h1 class="text-white text-3xl title-font font-medium mb-1 article--name">Silent Hill 2</h1>
                        <div class="flex mb-4">
                            <span class="flex items-center">
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-primary" viewBox="0 0 24 24">
                                    <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                                </svg>
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-primary" viewBox="0 0 24 24">
                                    <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                                </svg>
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-primary" viewBox="0 0 24 24">
                                    <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                                </svg>
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-primary" viewBox="0 0 24 24">
                                    <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                                </svg>
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-primary" viewBox="0 0 24 24">
                                    <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                                </svg>
                                <span class="text-primary-200 ml-3">0 Reseñas</span>
                            </span>
                        </div>
                        <p class="leading-relaxed text-txt-200">Experimenta el éxito de los survival horror psicológicos, alabado como el mejor de la serie, en el hardware más reciente, con efectos visuales escalofriantes y sonidos viscerales. Adopta el papel de James Sunderland y adéntrate en el pueblo casi desértico de Silent Hill en este esperado remake del clásico de 2001. Atraído a este misterioso lugar por una carta de su esposa, fallecida tres años antes, James busca pistas en el pueblo sobre el motivo por el que recibió esa carta impensable. Entra en un mundo sobrenatural y encuentra monstruos extraños, la amenazante Pyramid Head y un elenco de personajes extraordinarios que luchan con su pasado. A medida que James vaya aceptando su propia confusión, se quedará con una pregunta: ¿por qué vino realmente a Silent Hill?</p>
                        <div class="flex mt-5">
                            <span class="font-medium text-2xl text-txt-200">$1299</span>
                            <button class="flex ml-auto text-white bg-xbox border-0 py-2 px-6 focus:outline-none hover:bg-accent-200 rounded-md duration-500" type="submit" id="add-to-cart">Agregar al carrito</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <AlertAddCar/>
    </main>
</Layout>