---
    import Layout from '../layouts/Layout.astro';
    import OurTeam from '../components/OurTeam.astro';
    import AboutSeccion from '../components/AboutSeccion.astro';
---

<Layout title="Sobre Nosotros | Game Cave">
    <main>
        <section>
            <AboutSeccion/>
        </section>
        <section>
            <OurTeam/>
        </section>
    </main>
</Layout>