---
import Layout from '../layouts/Layout.astro';
import Gallery from '../components/Gallery.astro'
import Products from '../components/Products.astro'

<script src="/src/scripts/header.js"></script>
---

<Layout title="Game Cave">
    <main>
        <section>
            <Gallery />
        </section>
        <section>
            <Products />
        </section>
    </main>
</Layout>
