<div class="py-14">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:text-center">
            <h2 class="text-base font-semibold leading-7 text-primary text-center">Game Cave</h2>
            <p class="mt-2 text-3xl font-bold tracking-tight text-primary sm:text-4xl text-center">Todo lo que necesitas para jugar</p>
            <p class="mt-6 text-lg leading-8 text-txt font-light">En GameCave, ofrecemos los juegos más nuevos a los mejores precios, con la opción de rentar. Disfruta de una experiencia de compra excepcional con entregas rápidas y seguras, y un equipo de atención al cliente siempre dispuesto a ayudar.</p>
        </div>
        <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
            <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
            <div class="relative pl-16">
                <dt class="text-base font-semibold leading-7 text-primary-200">
                <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-primary-200">
                    <img src="/public/variedad.png" alt="Amplia selección de títulos" class="h-6 w-6 text-white">
                </div>
                Amplia selección de títulos
                </dt>
                <dd class="mt-2 text-base leading-7 text-txt-200">Explora nuestra amplia gama de juegos, desde los clásicos hasta las últimas novedades, para encontrar exactamente lo que buscas.</dd>
            </div>
            <div class="relative pl-16">
                <dt class="text-base font-semibold leading-7 text-primary-200">
                <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-primary-200">
                    <img src="/public/usuario.png" alt="Amplia selección de títulos" class="h-6 w-6 text-white">
                </div>
                Experiencia de usuario intuitiva
                </dt>
                <dd class="mt-2 text-base leading-7 text-txt-200">Navega por nuestra página de forma sencilla y encuentra tus juegos favoritos con facilidad gracias a nuestra interfaz intuitiva.</dd>
            </div>
            <div class="relative pl-16">
                <dt class="text-base font-semibold leading-7 text-primary-200">
                <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-primary-200">
                    <img src="/public/entrega.png" alt="Amplia selección de títulos" class="h-6 w-6 text-white">
                </div>
                Entrega rápida y confiable
                </dt>
                <dd class="mt-2 text-base leading-7 text-txt-200">Recibe tus juegos directamente en la puerta de tu casa de forma rápida y segura, sin tener que esperar mucho tiempo.</dd>
            </div>
            <div class="relative pl-16">
                <dt class="text-base font-semibold leading-7 text-primary-200">
                <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-primary-200">
                    <img src="/public/atencion.png" alt="Amplia selección de títulos" class="h-6 w-6 text-white">
                </div>
                Atención al cliente excepcional
                </dt>
                <dd class="mt-2 text-base leading-7 text-txt-200">Nuestro equipo de atención al cliente está aquí para ayudarte en cada paso del camino, respondiendo a tus preguntas y solucionando cualquier problema que puedas tener.</dd>
            </div>
            </dl>
        </div>
    </div>
</div>