<div class="bg-bg-200 shadow-lg rounded-lg p-5 fixed flex flex-col right-[-200px] bottom-10 items-center gap-2 text-center transition-all duration-300 opacity-0 " id="notification">
    <p class="text-sm font-semibold">Agregado al carrito</p>
    <img src="/" alt="" class="w-24 rounded-md">
    <a href="#" class="text-sm font-semibold text-txt-200 hover:underline" data-accion="open-car">Ver carrito</a>
</div>