---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro';
import Car from '../components/Car.astro';

import "@fontsource-variable/onest"
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	</head>
	<body class="flex flex-col items-center min-h-screen bg-bg text-white scroll-smooth">
		<Header/>
		<Car/>
		<slot />
		<Footer/>
		<script src="/src/scripts/car.js"></script>
		<script src="/src/scripts/header.js"></script>
	</body>
</html>
<style is:global>
	html {
		font-family: 'Onest Variable', system-ui, sans-serif;
		scroll-behavior: smooth;
	}

	::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}
	::-webkit-scrollbar-thumb {
		background-color: #767272a6;
		border-radius: 1rem;
	}
	::-webkit-scrollbar-thumb:hover {
		background-color: #585858;
	}
	::-webkit-scrollbar-track {
		background-color: transparent;
	}

	.error {
		@apply border-b-red-500;
	}

	.error .error-txt {
		@apply block;
	}

	.correct {
		@apply border-b-primary-200;
	}

	#result {
		border-radius: 2px;
		text-align: center;
		margin-top: 12px;
		padding: 8px 0;
	}

	#result.success {
		display: block;
		background-color: #009700;
	}

	#result.error {
		display: block;
    	background-color: rgb(239 68 68 / 1);
	}
</style>
